<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
 <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Caprasimo&family=PT+Sans&display=swap" rel="stylesheet">
 <link rel="stylesheet" href="/css/main.css">
  
  <link rel="stylesheet" href="/css/homepage.css">
  <link rel="stylesheet" href="/css/images.css">
<link rel="stylesheet" href="/css/login.css">
<link rel="stylesheet" href="/css/signup.css">


  <title>Cheatsheet</title>
  <main>


</head>

<body>
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      <h1>


       
        <p href="/">Cheatsheet</p>

      </h1>
      <nav>
        {{#if (eq current_page "home")}}
        <nav class="navbar navbar-inverse">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" >CHEATSHEET</a>
            </div>
            </ul>
            <ul class="nav navbar-nav navbar-right">

              {{#if logged_in}}
              <li><a  id="logout" href="#"><span class="glyphicon glyphicon-user"></span> Logout</a>
              </li>
              {{else}}
              <li><a href="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a>
              </li>
              <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
           
           {{/if}} 
           </ul>
          </div>
        </nav>
        {{/if}}

        {{#if (and3 (ne current_page "home") (ne current_page "signup") (ne current_page "login") )}}
        <nav class="navbar navbar-inverse">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="/">CHEATSHEET</a>
            </div>
            <ul class="nav navbar-nav">
              <li><a href="/html">HTML</a></li>
              <li><a href="/css">CSS</a></li>
              <li><a href="/js">JAVA SCRIPT</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              {{#if logged_in}}
              <li><a  id="logout" href="#"><span class="glyphicon glyphicon-user"></span> Logout</a>
              </li>
              {{/if}}
            </ul>
          </div>
        </nav>
        {{/if}}
<!-- Conditionally render login or logout links-->
        
      </nav>
    </header>
    <main class="container container-fluid mt-5">

      
      <!-- Render the sub layout -->
      {{{ body }}}

      
    </main>
    <footer>

    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>