<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">CHEATSHEET</a>
    </div>
    <ul class="nav navbar-nav">
      
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Home <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">HTML</a></li>
          <li><a href="#">CSS</a></li>
          <li><a href="#">JAVA SCRIPT</a></li>
        </ul>
      </li>
      
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a>
      </li>
      <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>
<div>
  <a href="/main"> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTI87TJcUx8dXuzQ_D-FIoGzlK1SCA-pmSKyA&usqp=CAU" alt="htmlcheatsheet" width="300" height="300"></a>
 
   <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ9ETM7pzfH23ObJq2FCtdsPEmGUrQkI8vp1g&usqp=CAU" alt="csscheatsheet" width="300" height="300">
    <img src = "https://media.geeksforgeeks.org/wp-content/cdn-uploads/20220525104343/image-24.png" alt = "cheatshhet image" width="300" height="300" >
</div>

