
<div>
  <a href="/main"> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTI87TJcUx8dXuzQ_D-FIoGzlK1SCA-pmSKyA&usqp=CAU" alt="htmlcheatsheet" width="300" height="300"></a>
 
   <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ9ETM7pzfH23ObJq2FCtdsPEmGUrQkI8vp1g&usqp=CAU" alt="csscheatsheet" width="300" height="300">
    <img src = "https://media.geeksforgeeks.org/wp-content/cdn-uploads/20220525104343/image-24.png" alt = "cheatshhet image" width="300" height="300" >
</div>

