{{#each htmlResults as |html|}}
<table class="table table-striped">
  <thead>
    <tr>
      <th>title</th>
      <th>code</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{html.Cheatsheet_Name}}</td>
      <td>{{html.Cheatsheet_Cheats}}</td>
  </tbody>
</table>
{{/each}}