<div class="row login">
  <div class="col-md-6">
    <h2>Login</h2>

    <!-- Login Form -->
    <form class="form login-form">
      <div class="form-group">
        <label for="email-login">Email:</label>
        <input class="form-input" type="text" id="email-login" />
      </div>
      <div class="form-group">
        <label for="password-login">Password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Login</button>
      </div>
      <div class="login-text">
        <p class="login-text">If the account doesn't exist, please <a href="/signup" class="signup-link">sign up</a>
          here.</p>
      </div>
    </form>
  </div>
</div>

<!-- Include JavaScript file for handling login -->
<script src="./js/login.js"></script>