{{#each htmlResults as |html|}}

<div class="col-sm-12">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>title</th>
        <th>code</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{html.CheatSheet_Name}}</td>
        <td>{{html.CheatSheet_Cheats}}</td>
      </tr>
    </tbody>
  </table>
</div>
{{/each}}